.containerCardPokemon {
    position: relative;
}

.arrow {
    position: absolute;
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 3px;
    background-color: transparent;
    border: solid;
    border-width: 0 5px 5px 0;
    z-index: 3;
}

#dark .arrow {
    border-color: #fafbfd;
}

#light .arrow {
    border-color: #0a0a0a;
}

.arrow--right {
    top: 37%;
    right: 3%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow--left {
    top: 37%;
    left: 3%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}