.card {
    width: 470px;
    margin: 0 auto;
    font-size: 25px;
}

.card__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
}

.card__pokemonName {
    padding: 10px 0px;
    font-weight: 900;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
}

.card__pokemonImage {
    height: 256px;
    padding: 19px 0;
    will-change: filter;
}

.card__body {
    margin-top: -35px;
    padding: 20px 0 40px 0;
    background-color: #ffffff;
    border-radius: 10px; 
}

.card__pokemonDetails {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.card__pokemonTag {
    margin: 10px;
    padding: 0px 0px 0px 25%;
    font-weight: 900;
    color: #808080;  
}

.card__pokemonNumber,
.card__pokemonEXP,
.card__pokemonType,
.card__pokemonHability,
.card__pokemonHeight,
.card__pokemonWeight {
    margin: 10px;
    padding: 0px 0px 0px 5%;
    font-weight: 600;
    color: #000000;
}

@media only screen and (min-width: 960px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        column-gap: 20px;
        width: 940px;
    }

    .card__pokemonName {
        margin: 0;
    }

    .card__body {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-top: 0;
    }

    .card__pokemonDetails {
        display: flex;
        flex-direction: column;
        place-items: center;
    }

    .card__pokemonTag {
        margin: 0;
        padding: 20px 0 0 0;
    }
    
    .card__pokemonNumber,
    .card__pokemonEXP,
    .card__pokemonType,
    .card__pokemonHability,
    .card__pokemonHeight,
    .card__pokemonWeight {
        margin: 0;
        padding: 0;
    }
  }

