.card {
    width: 470px;
    margin: 0 auto;
    font-size: 25px;
    text-transform: uppercase;
}

.card__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
}

.card__pokemonName {
    padding: 10px 0px;
    font-weight: 900;
    text-align: center;
    border-radius: 10px;
}

#dark .card__pokemonName {
    color: #0a0a0a;
    background-color: #fafbfd;
}

#light .card__pokemonName {
    color: #0a0a0a;
    background-color: #d0d0d0;
}

.card__pokemonImage {
    height: 256px;
    padding: 19px 0;
    will-change: filter;
    z-index: 1;
}

.card__body {
    position: relative;
    top: -35px;
    padding: 40px 0 40px 0;
    border-radius: 10px;
    z-index: 0;
}

#dark .card__body {
    background-color: #fafbfd;
}

#light .card__body {
    background-color: #d0d0d0;
}

.card__pokemonDetails {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.card__pokemonTag {
    margin: 10px;
    padding: 0px 0px 0px 25%;
    font-weight: 900;
    color: #777777;  
}

.card__pokemonNumber,
.card__pokemonEXP,
.card__pokemonType,
.card__pokemonHability,
.card__pokemonHeight,
.card__pokemonWeight {
    margin: 10px;
    padding: 0px 0px 0px 5%;
    font-weight: 600;
}

#dark .card__pokemonNumber,
#dark .card__pokemonEXP,
#dark .card__pokemonType,
#dark .card__pokemonHability,
#dark .card__pokemonHeight,
#dark .card__pokemonWeight {
    color: #0a0a0a;
}

#light .card__pokemonNumber,
#light .card__pokemonEXP,
#light .card__pokemonType,
#light .card__pokemonHability,
#light .card__pokemonHeight,
#light .card__pokemonWeight {
    color: #0a0a0a;
}

@media only screen and (min-width: 960px) {
    .card {
        display: grid;
        width: 940px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        column-gap: 20px;
        padding-top: 26px;  
    }

    .card__pokemonName {
        margin: 0;
    }

    .card__body {
        position: initial;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-top: 0;
    }

    .card__pokemonDetails {
        display: flex;
        flex-direction: column;
        place-items: center;
    }

    .card__pokemonTag {
        margin: 0;
        padding: 20px 0 0 0;
    }
    
    .card__pokemonNumber,
    .card__pokemonEXP,
    .card__pokemonType,
    .card__pokemonHability,
    .card__pokemonHeight,
    .card__pokemonWeight {
        margin: 0;
        padding: 0;
    }
  }

