.header {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-content: center;
    gap: 20px;   
}

.header__logo {
    width: 50px;
    will-change: filter;
}

.header__logo:hover {
    filter: drop-shadow(0 0 2em #646cff);
}

.header__title {
    margin: 0;
    font-size: 45px;
    letter-spacing: 1.5px;
}

@media only screen and (min-width: 768px) {
    .header {
        margin: 30px;
        justify-content: left;
    }
}