.randomCard {
  box-sizing: border-box;
}

.randomCard__title {
  padding-bottom: 30px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.randomCard__pokemons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  place-content: center;
  gap: 20px;
}

.randomCard__details {
  position: relative;
  width: 200px;
  height: 200px;
  text-transform: uppercase;
  color: #777777;
  border-radius: 10px;
  filter: grayscale(90%);
}

#dark .randomCard__details {
  background-color: #fafbfd;
}

#light .randomCard__details {
  background-color: #d0d0d0;
}

.randomCard__details:hover {
  color: #0a0a0a;
  transition: all .5s ease-in-out;
  filter: grayscale(0%);
}

.randomCard__image {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 130px;
  height: 130px;
  transform: translate(-50%, -50%);
}

.randomCard__pokemonName {
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-30%, 190%);
}

@media only screen and (min-width: 960px) {
  .randomCard {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 37px;
  }
  
  .randomCard__pokemons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 100px;
  }
}